/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilização do corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* Estilização da navegação */
nav {
    background-color: #333;
    padding: 10px;
    margin-bottom: 20px;
}

.home-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
}

.home-link i {
    margin-right: 8px;
}

.home-link:hover {
    text-decoration: underline;
}

/* Estilização do título */
h1 {
    color: #333;
    margin-bottom: 20px;
}

/* Estilização do formulário */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 550px;
    margin: 0 auto;
    margin-top: 30px;
}

/* Estilização dos rótulos e campos do formulário */
label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Estilização do botão */
button {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4cae4c;
}
#cadastroxml {
    margin-left: 380px;
    align-self: center;
}


