body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #555555;
}


nav {
    background-color: #333;
    padding: 10px;
    margin-bottom: 20px;
}
.home-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
}
.home-link i {
    margin-right: 8px;
}

.home-link:hover {
    text-decoration: underline;
}

/* Container centralizado */
.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Título principal */
h1 {
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}

/* Tabela */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Cabeçalho da tabela */
.table thead th {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #0056b3;
}

/* Linhas da tabela */
.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

/* Colunas da tabela */
.table tbody td {
    padding: 10px;
    color: #333333;
}

/* Linhas alternadas */
.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Efeito de hover */
.table tbody tr:hover {
    background-color: #f1f1f1;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .table thead {
        display: none;
    }

    .table tbody tr {
        display: block;
        margin-bottom: 10px;
    }

    .table tbody td {
        display: block;
        text-align: right;
        font-size: 14px;
        padding-left: 50%;
        position: relative;
    }

    .table tbody td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 10px;
        font-weight: bold;
        text-align: left;
    }
}