<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <h1>Bem-vindo ao Sistema de Estoque da Cantina B</h1>
    </header>
    <nav>
        <ul class="menu">
            <li><a th:href="@{/produtos}" class="menu-item">Lista de Produtos</a></li>
            <li><a href="/adicionar" class="menu-item">Adicionar Produto</a></li>

        </ul>
    </nav>
    <footer>
        <p>&copy; 2024 Cantina B</p>
    </footer>

<script>



</script>
</body>
</html>
