<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  href="/css/movimentacao.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-EXyFBO1PSG6pHnN5+ek7EAci+yH5Fd1qO9bK6z4WqlfW5ihhU07cF7r7bSAymNbn7YrGk8w5ogONcU6VRNWhA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<nav>
    <a href="/" class="home-link"><i class="fas fa-home"></i> Home</a>
</nav>
<body>
<div class="container">
    <h1>Histórico de Movimentações</h1>

    <select name="Periodo">
        <option value="opt1">1 Mes</option>
        <option value="opt2"> 3 Meses</option>
        <option value="opt3"> 6 Meses</option>
        <option value="opt4">Completo</option>


    </select>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Valor Total</th>
            <th>Responsável</th>
            <th>Data da Movimentação</th>
            <th>Tipo de Movimentação</th>
        </tr>
        <tr>




        </tr>
        </thead>
    </table>
</div>

<!-- Scripts opcionais para funcionalidade e estilização -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>