<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Produtos</title>
    <link rel="stylesheet" type="text/css" href="/css/lista.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-EXyFBO1PSG6pHnN5+ek7EAci+yH5Fd1qO9bK6z4WqlfW5ihhU07cF7r7bSAymNbn7YrGk8w5ogONcU6VRNWhA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    
    <nav>
    <a href="/" class="home-link"><i class="fas fa-home"></i> Home</a>
</nav>
    
    
    <h1>Lista de Produtos</h1>
    
    <table border="1">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Preço</th>
                <th>Quantidade</th>

                <th>Data Atualização </th>
                <th>Ferramentas</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="produto : ${produtos}">
                <td th:text="${produto.nome}"></td>
                <td th:text=" ${produto.preco}"></td>
                <td th:text="${produto.quantidade}"></td>
                <td th:text="${produto.dataCadastro}"></td>
                <td>

                    <a id="deletarbtn" th:href="@{/produtos/deletar/{id}(id=${produto.id})}">Deletar</a>
               d
                </td>


            </tr>
            <a id="linkadd" href="/adicionar" class="menu-item">Adicionar Produto</a>
        </tbody>
    </table>
</body>
<script>

    var btndeletar = document.getElementById("deletarbtn");

    btndeletar.addEventListener("click", alerta )

    function alerta(){

        window.confirm("Tem certeza que deseja deletar!?")

    }



</script>
</html>
